.response
{display: none;

}
body{

  background-color: #cecece;
  background-repeat: no-repeat;
  position: center;
}
h3{
color: red;
font-family: monospace;
text-align: center;
margin: 25px;
}
.title{
  font-size: 50px;
}
.response, h4{
margin-top: 40px;
font-family: cursive;
font-weight:bold;
font-size: 100px;
}


.intro{
color: red;
font-size: 25px
font-family:sans-serif;
font-style: italic;
text-align: center;
}



.reprint{
  display: none;
  border: 2px solid brown;
  width: 30%;
  margin: 0 auto;
  margin-top: 130px;
  color: black;
}

.form-control{
  width:200px;
  margin: 0 auto;
}

h1{
  text-align: center;
  margin: 30px;
}

h2{
  font-size: 15px;
  margin-left: 30px;
}

p{
  margin-left: 30px;
  font-size: 15px;
  color: white;
}


#formDiv{
  margin-bottom: 15px;
}

.button{
  text-align: center;
  margin-top: 30px;
}
